<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.OverViewMapper">
    <resultMap id="BaseBlockMapAccount" type="com.imooc.pojo.BlockOverView">
        <result column="bandwidth"  property="bandwidth" jdbcType="DECIMAL"/>
        <result column="totalstorage"  property="totalstorage" jdbcType="DECIMAL"/>
        <result column="fwpledgenum"  property="fwpledgenum" jdbcType="DECIMAL"/>
        <result column="nodepledgenum"  property="nodepledgenum" jdbcType="DECIMAL"/>
        <result column="locknum"  property="locknum" jdbcType="DECIMAL"/>
        <result column="utgtogb"  property="utgtogb" jdbcType="DECIMAL"/>
        <result column="totalutg"  property="totalutg" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getFwMinerData" resultMap="BaseBlockMapAccount">
        select ifnull(sum(t.bandwidth),0) bandwidth ,ifnull(sum(miner_storage),0) totalstorage,round(ifnull(sum(t.pledge_amount),0)/1000000000000000000,2) fwpledgenum from utg_storage_miner  t
    </select>
    <select id="getNodeMinerData" resultMap="BaseBlockMapAccount">
        select round(ifnull(sum(t.total_amount),0)/1000000000000000000,2) nodepledgenum from utg_node_miner  t where t.node_type in (1,2)
    </select>
    <select id="getCurrLockData" resultMap="BaseBlockMapAccount">
        select  ifnull(sum(t.totalamount),0)-ifnull(sum(t.releaseamount),0) locknum from transfer_miner  t where t.type in (1,3,5,7,9,17)
    </select>   
    <select id="getutg24" resultMap="BaseBlockMapAccount">
        select ifnull(sum(t.totalamount),0) totalutg from transfer_miner  t where t.type in (1,5,7,9) and blocknumber> #{blocknumber}
    </select>
    
    <select id="getutgtogbData" resultMap="BaseBlockMapAccount">
        select t.utg_gbrate utgtogb,t.total_utg totalutg  from utg_net_statics t  where t.ctime=(select max(ctime) from utg_net_statics)
    </select>
    <select id="getBwPdgRnge300" resultType="java.math.BigDecimal">
        select ifnull(round((sum(t.pledge_amount)/1000000000000000000)/sum(t.bandwidth),4),0)  pledge_amount300  from utg_storage_miner t where t.bandwidth &lt;= 300 and t.miner_status in (1,2)
    </select>
    <select id="getBwPdgRnge380" resultType="java.math.BigDecimal">
        select ifnull(round((sum(t.pledge_amount)/1000000000000000000)/sum(t.bandwidth),4),0)  pledge_amount300  from utg_storage_miner t where t.bandwidth &gt;= 301 and   t.bandwidth&lt;= 800 and t.miner_status in (1,2)
    </select>
    <select id="getBwPdgRnge815" resultType="java.math.BigDecimal">
        select ifnull(round((sum(t.pledge_amount)/1000000000000000000)/sum(t.bandwidth),4),0)  pledge_amount300  from utg_storage_miner t where t.bandwidth &gt;= 801 and  t.bandwidth &lt;= 1500 and t.miner_status in (1,2)
    </select>
    <select id="getBwPdgRnge1500" resultType="java.math.BigDecimal">
        select ifnull(round((sum(t.pledge_amount)/1000000000000000000)/sum(t.bandwidth),4),0)  pledge_amount300  from utg_storage_miner t where t.bandwidth &gt;= 1500 and t.miner_status in (1,2)
    </select>
    
    <select id="getStorageData" resultMap="BaseBlockMapAccount">
        select * from(
		  select ifnull(sum(declare_space),0) bandwidth,round(ifnull(sum(pledge_amount),0)/1000000000000000000,2) pladgenum from storage_space where pledge_status = 0
		)t1,(
		  select ifnull(sum(totalamount),0) utgtogb from transfer_miner where type=9
		)t2
		
    </select>    
    
    </mapper>